.footerUser{
    background-color: #662e9b;
    height: 75px;
    text-align: center;
    margin-top: 50px;
}

.JKWDLogo{
    height: 60px;
    width: 100px;
    vertical-align: middle;
    margin: auto;
}